[Unit]
Description=EVOK to MQTT Daemon
After=evok.service
Requires=evok.service
#PartOf=evok.service
BindsTo=evok.service

[Service]
Type=idle
ExecStartPre=-/bin/sleep 3
ExecStart=/usr/bin/python /root/evok2mqtt/evok2mqtt.py
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=evok2mqtt

[Install]
WantedBy=multi-user.target
